@model IEnumerable<Court_Management.Models.CaseComment>

@{
    ViewData["Title"] = "Index";
  
}


<div class="p-3" style="background-image: url('/images/back.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; width:100%;height:100%">

<h1>Index</h1>

<p>
    <a  asp-action="Create" asp-route-id="@ViewBag.Id">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostedAt)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedAt)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Author.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>